	/**
	 * ${0:数据库返回值}
	 */
	const [r$CURRENT_SECONDS_UNIX] = await(() => {
		const p11 = '$1';	// 示例: insert into tb001 (name) values (?),(?),(?);
		const p12 = [];	// sql中点位符使用的参数值。示例:['mm001', 'mm002', 'mm003']
		interface ITbable {
		}
		return an37<ITbable>([p11, p12]);
	})();